#excepcionalosotrosh3porquequedafeosiesmuygrande{
    font-size: large;
}
/* no me gusta usar px ni margin pero por alguna razon metafisica al quitar esto de aca abajo la pagina se rompe mucho mas de lo que deberia*/
p,h3{
    margin:2px
}

#parrafohola{
    background-color: aliceblue;
    width: 100%;
    padding-bottom: 5vh;
}