ul{
    list-style-type: none;
    padding:0px;
    display:flex;
    gap:1vw;
    justify-content: space-evenly;
    margin:0px;
    font-size:medium;
}
a{
    text-align: center;
    height: fit-content;
    font-weight: bold;
    text-decoration: none;
    color:black;
    transition: color 50ms linear
}
a:visited{
    color:inherit
}
a:hover{
    color:rgba(0, 0, 0, 0.61)
}
#navbar{
    position:sticky;
    top:0;
    z-index: 1;
    padding:2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    background:white;
    box-shadow: 0 6px 4px 1px rgba(0, 0, 0, 0.1);
   

    display: flex;
    justify-content: space-between;
    align-items:center;
    
}

