img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.horizontalCard{
    display: flex;
    width: 55vw;
    height: 17vh;
  
    margin-top:5vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);

}

.content{
    padding: 3vh 0vh 3vh 3vw;
    border-left: 3.5px solid black;
    border-radius: 20px 0px 0px 20px; 
    width:70%;
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    text-align: justify;
}
.content p,h4{
    margin:0;
}
.icon{
    height: 90%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 1vh 1vw 1vh 1vw
}
img {
    height: 100%;
    width: auto;    
}
.titule{
    display: flex;
    gap: 20px;
    align-items: center;
}
.titule h4 {
    justify-self: center;
    font-size: 1.4em;
}
.cardtimespan{
    text-align: left;
    
    opacity: 0.6;
}